/*! Copyright © 2016 / FD:FRS
*
* http://fdfrs.org
*
*/ 

*,
*:after,
*:before {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  min-height: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body{
	margin:0;
	padding:0;
	line-height: 20px;
	color:#212121;
	background-color:#EEEEEE;
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}
a{
	color:#fb6765;
	text-decoration:none;
}
a:hover{
	color:#fe9896;
}

/* Hader Color */
#header_bg{
	z-index:-1;
	position:fixed;
	width:100%;
	height:25%;
	top:0;
	background-color: #0082fa;
}

/* Base Card */
.card{
	width:600px;
	margin:0 auto;
	color:#212121;
	background-color:#FFF;
	border-radius: 3px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	overflow:auto;
}

.title i{
	position:relative;
	left:-10px;
}

/* Header Card */
#header_card{
	padding:30px;
	margin-top:10vh;
	text-align:center;
}
#header_card #photo_container{
	float: none;
}
#header_card #description_container{
	float: none;
	text-align: center;
	margin-top: 15px;
}
#header_card #photo{
	height:128px;
	width:128px;
	border-radius:150px;
}
#header_card #name{
	font-weight:bold;
	font-size:19px;
	color:#0082fa;
	text-transform: uppercase;
}
#header_card #description{
	font-weight:normal;
	font-size:15px;
	color:#616161;
}

/* About Card */
#about_card{
	position:relative;
	padding:15px 20px 8px 20px;
	margin-top:22px;
}
#about_card>.tab{
	margin-top:10px;
	margin-bottom:10px;
}
#about_card>.tab>.title{
	font-size:16px;
	color:#0082fa;
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
}
#about_card>.tab>.content{
	padding:5px 10px 5px 10px;
	position:relative;
}
#about_card .element{
	margin-bottom:5px;
	margin-top:5px;
}
/*
#about_card .element .desc{
	color:#616161;
	font-size:15px;
	text-align: center;
	margin-bottom:5px;
} 
*/
#about_card .element .info{
	color:#616161;
	font-size:14px;
	text-align: center;
}

/* Screenshot Card */
#screenshot_card{
	position:relative;
	padding:15px 10px 15px 10px;
	margin-top:22px;
}
#screenshot_card>.tab{
	margin-top:10px;
	margin-bottom:10px;
}
#screenshot_card>.tab>.title{
	font-size:16px;
	margin-bottom: 5px;
	color:#0082fa;
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
}
#screenshot_card>.tab>.content{
	padding:5px 20px 5px 20px;
	position:relative;
}
#screenshot_card .element{
	margin-top:8px;
	margin: auto;
	overflow: auto;
	position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.screenshot-item
{
    width: 24%;
}
.screenshot-item img
{
    width: 100%;
}

/* Download Card */
#download_card{
	position:relative;
	padding:15px 32px 8px 32px;
	margin-top:22px;
	margin-bottom:40px;
}
#download_card>.tab{
	margin-top:10px;
	margin-bottom:10px;
}
#download_card>.tab>.title{
	font-size:16px;
	color:#0082fa;
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
}
#download_card>.tab>.content{
	text-align: center;
	padding:5px 10px 5px 10px;
	position:relative;
}

/* Faq Card */
#faq_card{
	position:relative;
	padding:15px 20px 8px 20px;
	margin-top:22px;
}

#faq_card>.tab{
	margin-top:10px;
	margin-bottom:10px;
}

#faq_card>.tab>.title{
	font-size:16px;
	color:#0082fa;
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
}

#faq_card>.tab>.content{
	padding:5px 10px 5px 10px;
	position:relative;
}

#faq_card>.tab>.content>.question{
	font-weight:bold;
	font-size:15px;
}

#faq_card>.tab>.content>.answer{
	font-weight:italic;
	font-size:15px;
	color:#616161;
	margin-left:20px;
	margin-bottom:5px;
}

/*! Download Button */
.button-download{
    background: #fb6765;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff;
    position: relative;
    height: 36px;
    margin: 0px 8px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

/* Line */
hr{
	width:60%;
	color: #E0E0E0;
	background-color: #E0E0E0;
	height:1px;
	border:0;
}

/* Fab */
#fab{
	position:fixed;
	width:60px;
	height:60px;
	line-height: 60px;
	text-align:center;
	background-color:#fb6765;
	border-radius:99px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
#fab i{
	color:#fff;
	font-size:22px;
}
#fab:hover{
	background-color:#fe9896;
}

/*! Footer */
.ui-footer {
  border-top: 0 2px 7px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background: #0082FA;
  text-align: center;
  color: #FFF;
  padding-top: 12px;
  text-size: 13px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.ui-footer p {
	text-size: 13px;
}
.ui-footer i {
	margin-left: 1px;
	margin-right: 1px;
	color: #fb6765
}

/* Responsive */
@media (min-width: 961px){
	#fab{
		top:calc(25% - 30px);
		right:calc((100% - 550px)/4 - 30px);
	}
}
@media (min-width: 481px) and (max-width: 960px) {
	.card{
		width:80%;
	}
	#fab{
		bottom:2%;
		right:2%;
	}
}
@media (max-width: 480px){
	.card{
		width:90%;
	}
	#fab{
		bottom:2%;
		right:2%;
	}
	#header_card #photo_container{
		float: none;
	}
	#header_card #description_container{
		float: none;
		text-align: center;
		margin-left: 0px;
		margin-top: 0px;
	}
}
@media (min-width: 800px) and (max-width: 1100px) 
{
    .#screenshot_card .element
    {
        width: 70%
    }
}
@media (max-width: 800px) 
{
	.#screenshot_card .element
	{		
		margin-top: 0.5%;
		width: 90%;
	}
}
@media (max-width: 480px) 
{
    .screenshot-item
    {
        width: 49% !important;
        margin-bottom: 10px;
    }
	.#screenshot_card .element
	{		
		margin-top: 0.5%;
		width: 95%;
	}
}
	/** LIGHTBOX MARKUP **/
   .lightbox {
   /** Default lightbox to hidden */
	display: none;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;
	/** Unhide lightbox **/
	display: block;
}
/*! Ripple */
.wave {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.wave .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
}
/*Add new color*/
.wave.ripple-dark .ripple {
  background: rgba(0, 0, 0, 0.1);
}
.wave .animated {
  animation: ripple 0.6s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/*! Copyright © 2016 / FD:FRS
*
* http://fdfrs.org
*
*/ 
